body{
	background-image: url(INFO.jpg);
	font-family: "Century Gothic";
	margin-top: 2%;
	margin-right:17%;
	margin-left: 17%;
	border-color: #000000;
	background-size: 100%;

}
a{
	color: #FFFFFF;
	font-size: 18px;
}
p{
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
}
h1{
	color: #FFFFFF;
	text-align: center;
}