body{
	background-image: url(HD-wallpaper-marvel-y-dc-heroes-super.jpg);
	font-family: "Century Gothic";
	margin-top: 2%;
	margin-right:17%;
	margin-left: 17%;
	border-color: #000000;
	background-size: 100%;
	margin-bottom: 5%

}
a{
	color: #FFFFFF;
	font-size: 18px;
}
p{
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
}
h1{
	color: #FFFFFF;
	text-align: center;
}
img{
	width: 60%;
}
p#GROOT{
	text-align: center;
}
img#Thor{
	width:45%;
}
img#Ant{
	width:35%;
}