body{
	background-image: url(https://w0.peakpx.com/wallpaper/172/688/HD-wallpaper-marvel-y-dc-heroes-super.jpg);
}
table#arriba{
	background-color: #000000;
	width: 100%;
}
a{
	color: #FFFFFF;
}
div{
	background-color: #000000
}